:root {
    --primary-color:#6741d9;
}

html {
  scroll-behavior: smooth;
}

* {
    margin: 0px;
    padding: 0px;
    /* background: #f1f1f1; */
    box-sizing: border-box;
    text-decoration: none;
}

.max-width {
    width: 100%;
    margin: auto;
    padding: 0 80px;
}

.navbar {
    position: fixed;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 100%;
    padding: 20px 0;
    transition: all 0.5s ease;
    /* background: var(--primary-color); */
    z-index: 9999;
}

.navbar.sticky {
    padding: 15px 0;
    background: var(--primary-color);
}

.navbar.sticky .logo a span {
    color: #ffffff;
}



.navbar .max-width {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a{
    font-size: 2rem;
    color: #ffffff;
    font-weight: 500;
}

.navbar .logo a span {
    color: var(--primary-color);
}

.navbar .menu li {
margin-left: 10px;
list-style: none;
display: inline-block;
}

.navbar .menu li a{
    color: #ffffff;
    font-weight: 500;
    font-size: 1rem;
    transition: color 0.2s ease;
}

.navbar .menu li a:hover {
    color: var(--primary-color);
}

.navbar.sticky .menu li a:hover {
    color: #ffffff;
    text-shadow: 0 0 2px black;
}

.navbar .menu-btn {
    display: none;
    color: #ffffff;
    font-size: 1.5rem;
    cursor: pointer;
}

.home {
    display: flex;
    background: url(images/banner.jpeg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    /* width: 100%; */
    height: 100vh;
    color: #ffffff;
    min-height: 500px;
}

.home .max-width {
    margin: auto 0 auto 40px;
}


.home .home-content .text-1 {
    font-size: 1.8rem;
}

.home .home-content .text-2 {
    font-size: 4.5rem;
    margin-left: 2px;
    font-weight: 600;
}

.home .home-content .text-3 {
    font-size: 1.9rem;
    margin: 5px 0;
    margin-bottom: 30px;
}

.home .home-content .text-3 span {
    color: var(--primary-color);
    font-weight: 600;
}

.home .home-content .home-btn  {
    color: #ffffff;
    background-color: var(--primary-color);
    padding: 0.9rem 2rem;
    border-radius: 10px;
    font-weight: 400;
    border: 2px solid var(--primary-color);
    transition: color 0.5s ease;
}

.home .home-content .home-btn:hover {
    background-color: transparent;
    color: var(--primary-color);
}

section {
    padding: 3rem 0;
}

section .title {
    text-align: center;
    padding: 1rem 0;
    font-size: 2rem;
    position: relative;
    margin-bottom: 2rem;
}

section .title:before {
    content: "";
    position: absolute;
    color: var(--primary-color);
    height: 3px;
    width: 180px;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #000000;
}

section .title:after {
   
    position: absolute;
    color: var(--primary-color);
    font-size: 1.2rem;
    padding: 5px;
    bottom: -12px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #ffffff;
}

.about .title:after {
    content: "who I am";
}

.about .column img {
    width: 400px;
    height: 400px;
    border-radius: 10px;
    object-fit: cover;
}

.about .about-content, .services .services-content, .skills .skills-content, .contact .contact-content {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about .about-content .text {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 10px;
}

.about .right p {
    text-align: justify;
    margin-bottom: 2rem;
}

.about .about-content .text span {
    color: var(--primary-color);
}

.about .left {
    width: 45%;
}


.about .right {
    width: 55%;
}

.about .right  a {
    color: #ffffff;
    background-color: var(--primary-color);
    padding: 0.9rem 2rem;
    border-radius: 10px;
    font-weight: 400;
    border: 2px solid var(--primary-color);
    transition: color 0.5s ease;
}

.about .right  a:hover {
    background-color: transparent;
    color: var(--primary-color);
}


.services, .teams {
    background-color: #000000;
    color: #ffffff;
}

.services .title:before, .teams .title:before {
    background-color: #ffffff;
}

.services .title:after {
    background-color: #000;
    content: "what i provide";
}

.services .services-content .card {
    width: calc(33% - 20px);
    background-color: #222222;
    text-align: center;
    border-radius: 10px;
    padding: 1.5rem 1.7rem;
    cursor: pointer;
    transition: all 0.5s ease;
}

.services .services-content .card:hover {
    transform: translateY(-10px);
    box-shadow: 0  5px 2px var(--primary-color)
}

.services .services-content .card i {
    font-size: 2.3rem;
    color: var(--primary-color);
}

.services .services-content .card .text {
    font-size: 1.6rem;
    margin: 7px 0;
    font-weight: 500;
}

.services .services-content .card p {
    font-size: 1rem;

}


.skills .title:after {
    content: "what I know";
}

.skills .skills-content .column {
    width: calc(50% - 30px);
}

.skills .skills-content .left .text {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 20px;
}

.skills .skills-content .left  p {
    font-size: 1.1rem;
    text-align: justify;
    margin-bottom: 30px;
}
.skills .skills-content .left  a {
    color: #ffffff;
    background-color: var(--primary-color);
    padding: 0.9rem 2rem;
    border-radius: 10px;
    font-weight: 400;
    border: 2px solid var(--primary-color);
    transition: color 0.3s ease;
}

.skills .skills-content .left  a:hover {
    background-color: transparent;
    color: var(--primary-color);
}

.skills .skills-content .right .bars {
    margin-bottom: 15px;
}

.skills .skills-content .right .info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.skills .skills-content .right .info span {
    font-weight: 600;
    font-size: 1rem;
    margin-bottom: 8px;
}

.skills .skills-content .right .line {
    height: 7px;
    width: 100%;

    background-color: #cec7c7;
    position: relative;
    border-radius: 10px;
}

.skills .skills-content .right .line:before {
    content: "";
    position: absolute;
    border-radius: 10px;
    height: 100%;
    background-color: var(--primary-color);
}

.skills .skills-content .right .html:before {
    width: 80%;
}
.skills .skills-content .right .css:before {
    width: 70%;
}
.skills .skills-content .right .js:before {
    width: 80%;
}
.skills .skills-content .right .react:before {
    width: 60%;
}
.skills .skills-content .right .jquery:before {
    width: 50%;
}
.skills .skills-content .right .php:before {
    width: 70%;
}
.skills .skills-content .right .mysql:before {
    width: 70%;
}

.teams .title:after {
    content: "who with me";
    background-color: #000;
}

.teams .carousel .card {
    background-color: #222222;
    padding: 2rem 1.5rem;
    border-radius: 10px;
    text-align: center;
    transition: all 0.5s ease;
    cursor: pointer;
}


.teams .carousel .card:hover {
    transform: translateY(-10px);
    box-shadow: 0  5px 1px #ffffff;
    background-color: var(--primary-color);
}

.teams .carousel .card .text {
    font-size: 1.2rem;
    margin: 10px 0 7px 0;
    font-weight: 500;
}

.teams .carousel .card .box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.teams .carousel .card img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid var(--primary-color);
}

.teams .carousel .card:hover img {
    border-color: #ffffff;
}

.owl-dots {
    margin-top: 20px;
    text-align: center;
}

.owl-dot {
    width: 13px;
    height: 13px;
    border-radius: 50%;
    margin: 0 4px;
    border: 2px solid var(--primary-color) !important;
    outline: none !important;
    transition: all 0.5s ease;
}

.owl-dot.active {
    /* border: 2px solid #ffffff !important; */
    width: 25px;
    border-radius: 6px;
}

.owl-dot.active, .owl-dot:hover {
    background-color: var(--primary-color) !important;
}

.contact .title:after {
    content: "get in touch";
}


.contact .column .text {
    font-size: 1.3rem;
    font-weight: 600;
}

.contact .column p {
    font-size: 1rem;
    margin: 15px 0;
    text-align: justify;
}
.contact .left {
    width: calc(33% - 30px);
}

.contact .column .row {
    display: flex;
    height: 65px;
    align-items: center;
}

.contact .column .row  .info {
    margin-left: 25px;
}

.contact .column .row i {
    color: var(--primary-color);
    font-size: 1.3rem;
}

.contact .column .info .head {
    font-weight: 600;
}

.contact .column .info .sub-title {
    color: #333;
}


.contact .contact-content .right {
    width: calc(66% - 30px);
}

.contact .contact-content .right .text {
    margin-bottom: 40px;
}

.contact .right form .fields {
    display: flex;
}

.contact .right form .fields .field, .contact .right form .field {
    height: 45px;
    width: 100%;
    margin-bottom: 5px;
}

.contact .right form .fields .name {
margin-right: 5px;
}

.contact .right form .fields .email {
    margin-left: 5px;
}



.contact .right form .field input, .contact .right form .textarea textarea {
    width: 100%;
    height: 100%;
    padding: 0 15px;
    border-radius: 10px;
    outline: none;
    font-size: 1rem;
    border: 1px solid lightgrey;
}

.contact .right form .textarea textarea {
    height: 80px !important;
    padding-top: 10px;
    resize: none;
}

.contact .right form  .button button {
    width: 100%;
    padding: 10px 20px;
    margin-top: 40px;
    background-color: var(--primary-color);
    outline: none;
    border: 2px solid var(--primary-color);
    border-radius: 10px;
    color: #ffffff;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.5s ease;
}

.contact .right form  .button button:hover {
    background-color: transparent;
    color: var(--primary-color);
}

footer {
    display: flex;
    justify-content: space-around;
    width: 100%;
    background-color: #000000;
    padding: 15px 0;
    color: #ffffff;
}


@media (max-width: 1330px) {
    .max-width {
        padding: 0 50px;
    }

    
    .navbar .menu-btn {
        display: block;
        z-index: 9999;
    }

    .navbar .menu-btn i.active:before {
        content: "\f00d";
    }

    .navbar .menu  {
        padding-top: 5rem;
        background-color: #000000;
        top: 0;
        left: -100%;
        position: fixed;
        width: 100%;
        height: 100vh;
        text-align: center;
        transition: all 0.5s ease;
        }

        .navbar .menu.active {
            left: 0;
        }

        .navbar .menu li {
            display: block;
        }

        .navbar .menu li a {
            display: inline-block;
            font-size: 1.5rem;
            padding: 20px 0;
        }

        .home .home-content .text-2 {
            font-size: 70px;
            transition: 0.5s;
        }
        
        .home .home-content .text-3 {
            font-size: 35px;
            transition: 0.5s;
        }


}
