:root {
    --primary-color:#6741d9;
}


* {
    margin: 0px;
    padding: 0px;
    /* background: #f1f1f1; */
    box-sizing: border-box;
    text-decoration: none;
}

.max-width {
    width: 1330px;
    margin: auto;
    padding: 0 80px;
}

.navbar {
    position: fixed;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 100%;
    padding: 20px 0;
    transition: all 0.5s ease;
    /* background: var(--primary-color); */
    z-index: 1;
}

.navbar.sticky {
    padding: 15px 0;
    background: var(--primary-color);
}

.navbar.sticky .logo a span {
    color: #ffffff;
}



.navbar .max-width {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a{
    font-size: 2rem;
    color: #ffffff;
    font-weight: 500;
}

.navbar .logo a span {
    color: var(--primary-color);
}

.navbar .menu li {
margin-left: 10px;
list-style: none;
display: inline-block;
}

.navbar .menu li a{
    color: #ffffff;
    font-weight: 500;
    font-size: 1rem;
    transition: color 0.2s ease;
}

.navbar .menu li a:hover {
    color: var(--primary-color);
}

.navbar.sticky .menu li a:hover {
    color: #ffffff;
    text-shadow: 0 0 2px black;
}

.navbar .menu-btn {
    display: none;
    color: #ffffff;
    font-size: 1.5rem;
    cursor: pointer;
}

.home {
    display: flex;
    background: url(images/banner.jpeg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    /* width: 100%; */
    height: 100vh;
    color: #ffffff;
    min-height: 500px;
}

.home .max-width {
    margin: auto 0 auto 40px;
}


.home .home-content .text-1 {
    font-size: 1.8rem;
}

.home .home-content .text-2 {
    font-size: 4.5rem;
    margin-left: 2px;
    font-weight: 600;
}

.home .home-content .text-3 {
    font-size: 1.9rem;
    margin: 5px 0;
    margin-bottom: 30px;
}

.home .home-content .text-3 span {
    color: var(--primary-color);
    font-weight: 600;
}

.home .home-content .home-btn  {
    color: #ffffff;
    background-color: var(--primary-color);
    padding: 0.9rem 2rem;
    border-radius: 10px;
    font-weight: 400;
    border: 2px solid var(--primary-color);
    transition: color 0.5s ease;
}

.home .home-content .home-btn:hover {
    background-color: transparent;
    color: var(--primary-color);
}

section {
    padding: 3rem 0;
}

section .title {
    text-align: center;
    padding: 1rem 0;
    font-size: 2rem;
    position: relative;
    margin-bottom: 2rem;
}

section .title:before {
    content: "";
    position: absolute;
    color: var(--primary-color);
    height: 3px;
    width: 180px;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #000000;
}

section .title:after {
   
    position: absolute;
    color: var(--primary-color);
    font-size: 1.2rem;
    padding: 5px;
    bottom: -12px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #ffffff;
}

.about .title:after {
    content: "who I am";
}

.about .column img {
    width: 400px;
    height: 400px;
    border-radius: 10px;
    object-fit: cover;
}

.about .about-content, .services .services-content, .skills .skills-content {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about .about-content .text {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 10px;
}

.about .right p {
    text-align: justify;
    margin-bottom: 2rem;
}

.about .about-content .text span {
    color: var(--primary-color);
}

.about .left {
    width: 45%;
}


.about .right {
    width: 55%;
}

.about .right  a {
    color: #ffffff;
    background-color: var(--primary-color);
    padding: 0.9rem 2rem;
    border-radius: 10px;
    font-weight: 400;
    border: 2px solid var(--primary-color);
    transition: color 0.5s ease;
}

.about .right  a:hover {
    background-color: transparent;
    color: var(--primary-color);
}


.services {
    background-color: #000000;
    color: #ffffff;
}

.services .title:before {
    background-color: #ffffff;
}

.services .title:after {
    background-color: #000;
    content: "what i provide";
}

.services .services-content .card {
    width: calc(33% - 20px);
    background-color: #222222;
    text-align: center;
    border-radius: 10px;
    padding: 1.5rem 1.7rem;
    cursor: pointer;
    transition: all 0.5s ease;
}

.services .services-content .card:hover {
    transform: translateY(-10px);
    box-shadow: 0  5px 2px var(--primary-color)
}

.services .services-content .card i {
    font-size: 2.3rem;
    color: var(--primary-color);
}

.services .services-content .card .text {
    font-size: 1.6rem;
    margin: 7px 0;
    font-weight: 500;
}

.services .services-content .card p {
    font-size: 1rem;

}


.skills .title:after {
    content: "what I know";
}

.skills .skills-content .column {
    width: calc(50% - 30px);
}

.skills .skills-content .left {
    font-size: 1rem;
}










@media (max-width: 1330px) {
    .max-width {
        padding: 0 50px;
    }

    
    .navbar .menu-btn {
        display: block;
        z-index: 9999;
    }

    .navbar .menu-btn i.active:before {
        content: "\f00d";
    }

    .navbar .menu  {
        padding-top: 5rem;
        background-color: #000000;
        top: 0;
        left: -100%;
        position: fixed;
        width: 100%;
        height: 100vh;
        text-align: center;
        transition: all 0.5s ease;
        }

        .navbar .menu.active {
            left: 0;
        }

        .navbar .menu li {
            display: block;
        }

        .navbar .menu li a {
            display: inline-block;
            font-size: 1.5rem;
            padding: 20px 0;
        }

        .home .home-content .text-2 {
            font-size: 70px;
            transition: 0.5s;
        }
        
        .home .home-content .text-3 {
            font-size: 35px;
            transition: 0.5s;
        }


}